/*basic settings*/
html {
	font-size: 10px;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;

}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}
section {
	padding-bottom: 8rem;
}
.section-header {
	font-size: 2rem;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
.section-subheader {
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 3.5rem;
}


/*header*/
.header {
	background: url(../img/derevya_vid_sverkhu_les_119826_2048x1152.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	height: 100%;
}
.header h1 {
	font-size: 3.6rem;

	font-weight: bold;
}
.header h2 {
	font-size: 2.4rem;
	margin-bottom: 3.5rem;
	font-weight: medium;
}
.header-logo {
	margin-top: 6rem;
	margin-bottom: 4rem;
	max-width: 25rem;
}
.header-menu {
	display: block;
	height: 6rem;
	background-color: #734E39;
	text-align: center;
}
.header-menu-wrapper {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	padding-inline-start: 0;
}
.header-menu-wrapper a{
	line-height: 6rem;
	font-size: 1.6rem;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	transition: .2s;
	position: relative;
	
}
.header-menu-wrapper a:before {
	content: '';
	bottom: -2px;
	left: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #F2E3D5;
	transition: .2s;
}
/* hover effect */
.header-menu-wrapper a:hover{
	color: #F2E3D5;
	
}
.header-menu-wrapper a:hover:before{
	width: 100%;
	
}


/* About Us */

.about-us-text {
	font-size: 1.6rem;
	line-height: 2.5rem;
	text-align: justify;
}
.img {
	margin: 0 auto;
	margin-top: 0.7rem;
	width: 40rem;
	height: 50rem;
	background-color: gray;
}



/*Our Services*/
.services {
	background-color: #F2E3D5;


}
.services-text {
	font-size: 1.6rem;
	line-height: 2.5rem;
	text-align: justify;
}
.services-img {
	display: block;
	margin: 0 auto;
	margin-top: 0.7rem;
	max-width: 45rem;
}


/* Gallery */
.slider {
	margin: 0 auto;
	position: relative;
}
.slider-item {
	text-align: center;
}
.slider-item img {
	display: block;
	margin: 0 auto;
}
.slider-item:focus {
	outline: none;
}
.slick-dots {
	width: 10rem;
	position: absolute;
	bottom: -80px;
	left: 50%;
	margin-left: -5rem;
	display: flex;
	background-color: #fff;
	padding-inline-start: 0;
	list-style: none;
	justify-content: space-between;
}
.slick-dots li button {
	border-radius: 50%;
	content: '';
	height: 14px;
	width: 10px;
	background-color: #734E39;
	border: none;
}
.slick-dots .slick-active button {
	background-color: #A6836F;
	
}
.slider-prev {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0;
	line-height: 2rem;
	width: 3.5rem;
	height: 3.5rem;
	font-size: 2rem;
	border-radius: 50%;
	background-color: #734E39;
	color: #ffffff;
	border: none;
}
.slider-prev .fa-chevron-left {
margin-right: 2px;
}
.slider-next {
	position: absolute;
	z-index: 2;
	top: 50%;
	line-height: 2rem;
	right: 0;
	width: 3.5rem;
	height: 3.5rem;
	font-size: 2rem;
	border-radius: 50%;
	background-color: #734E39;
	color: #ffffff;
	border: none;
}
.slider-next .fa-chevron-right {
	margin-left: 2px;
	}
.divider {
	margin-top: 80px;
	background-color: #592F25;
	width: 100%;
	height: 7rem;
	display: block;
}


/* Prices */
.prices {
	background-color: #F2E3D5;
}
.prices-item {
	text-align: center;
	background-color: #fff;
	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
}
.prices-text {
	margin-top: 30px;
}
.prices-item span {
	display: block;
	margin-top: 50px;
	color: #ffffff;
	padding: 0.8rem 5rem;
	background-color: #592F25;
	border-radius: 0.5rem;
	border: none;
}
.prices-btn {
	text-align: center;
	color: #ffffff;
	padding: 1.5rem 5rem;
	background-color: #734E39;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
}
.prices-btn-wrapper {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}


/* question block */
.question {
	background: url(../img/questionBG.jpg);
	background-attachment: fixed;
  	background-position: top;
  	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 15rem;
}
.question .section-subheader {
	color:white;
}
.question .section-header {
	color: white;
}
.question-form {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.question-form-input:first-child {
	margin: 0;
}
.question-form-input {
	width: 32%;
	padding: 0 1rem;
	height: 4rem;
	margin-bottom: 2rem;
	border: none;
	border-radius: 5px;
}
.question-form-textarea {
	height: 20rem;
	width: 100%;
	border: none;
	padding: 1.3rem 1.3rem;
	border-radius: 5px;
	margin-bottom: 5rem;
}
.question-form-btn {
	left: 50%;
	margin-left: -9rem;
	bottom: -6rem;
	position: absolute;
	text-align: center;
	color: #ffffff;
	width: 18rem;
	padding: 1.5rem 4rem;
	background-color: #A6836F;
	border-radius: 0.5rem;
	border: none;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}


/* footer */
.footer {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #592F25;
	color: white;
	font-size: 1.6rem;
	font-weight: lighter;
	text-align: left;
}
.footer h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;
}
.footer-link-wrapper {
	margin: 0 auto;
	display: flex;
	list-style: none;
	text-align: center;
	align-items: center;
	padding-inline-start: 0;
}
.footer-link {
	margin: 0rem 0.5rem;
	
}
.footer-link a {
	color: white;
	font-size: 3rem;
	transition: .2s;
}
/* link hover effect */
.footer-link a:hover{
	color: #A6836F;
}
.footer-contact-wrapper {
	text-align: left;
	padding-inline-start: 0;
}
.footer-contact-link {
	list-style: none;
	text-align: left;
	margin-top: 5px;
}
.footer-contact-link a {
	color: white;
}
.footer-map {
	text-align: right;
	max-width: 100%;
}
.footer-logo {
	margin-top: 15rem;
}
.footer-logo-img {
	max-width: 4.5rem;
}
.footer-logoname {
	display: inline-block;
	font-weight: bold;
}
.footer-menu {
	margin-top: 14.8rem;

}
.footer-menu a{
	text-transform: uppercase;
	margin-right: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	transition: .2s;
}
.footer-menu a:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #F2E3D5;
	transition: .2s;
}

/* hover footer effect */
.footer-menu a:hover{
	color: #F2E3D5;
}
.footer-menu a:hover:before {
	width: 100%;
}
.footer-line {
	width: 100%;
	height: 3px;
	background-color: #A6836F;
	margin-top: 50px;
	margin-bottom: 20px;
}
.footer-copyright {
	text-align: left;
}
.footer h4 {
	text-align: right;
}
.footer .creator {
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	color: #ffffff;
	text-align: right;
	text-decoration: none;
	transition: .2s;
}
.footer .creator:hover {
	color: #A6836F;
}